@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EFEFEF;
  color: #1A1A1A;
}

::selection {
  background-color: #EE7224;
  color: #fff;
}

.focus-ring {
  outline: none;
}
.focus-ring:focus-visible {
  outline: 2px solid #EE7224;
  outline-offset: 2px;
}
